<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PercussionConfig" type="GKManagers.CMSManager.Configuration.PercussionConfig, CMSManager"  />
    <section name="DocumentProcessing" type="GKManagers.Configuration.DocumentProcessingSection, DocumentManager" />
    <section name="CMSProcessing" type="GKManagers.CMSDocumentProcessing.Configuration.CMSProcessingSection, CMSDocumentProcessing" />
  </configSections>

  <!-- Connection strings are loaded from a shared file. -->
  <connectionStrings configSource="sharedconfig\connectionStrings.config">
  </connectionStrings>

  <appSettings>
    <!-- XSL transformation pathes-->
    <add key="DrugInfoSummary"    	value="C:\git\wcms-gatekeeper\Core\ContentRendering\XSL\DrugInformationSummary.xsl"/>
    <add key="Summary"    	    		value="C:\git\wcms-gatekeeper\Core\ContentRendering\XSL\Summary.xsl"/>
    <add key="GeneticsProfessional" value="C:\GateKeeper\current\Core\ContentRendering\XSL\GeneticsProfessional.xsl"/>
    <add key="GlossaryTerm"         value="C:\git\wcms-gatekeeper\Core\ContentRendering\XSL\GlossaryTerm.xsl"/>
    <add key="Terminology"          value="C:\git\wcms-gatekeeper\Core\ContentRendering\XSL\Terminology.xsl"/>

    <!-- Location for the summary-split data file. -->
    <add key="summary-split-file-location" value="c:\git\summary-splits.json" />

  </appSettings>

  <DocumentProcessing>
    <processingConfigurationFile value="C:\git\wcms-gatekeeper\App\ProcMgr\DocumentProcessors.xml" />
  </DocumentProcessing>

  <CMSProcessing>
    <BaseFolders mobileSiteBase="//Sites/MobileCancerGov" desktopSiteBase="//Sites/CancerGov"></BaseFolders>
  </CMSProcessing>


  <PercussionConfig>
    <connectionInfo>
      <protocol value="http" />
      <host value="percussion-pink.dev.cancer.gov" />
      <port value="9992" />
      <username value="${PERCUSSION_USER}" />
      <password value="${PERCUSSION_PASSWORD}" />
      <community value="CancerGov_Configuration" />
      <siteRootPath value="//Sites/CancerGov"/>
    </connectionInfo>
    <previewRepublishEditionList value=""/>
    <liveRepublishEditionList value=""/>
  </PercussionConfig>
</configuration>