<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PercussionConfig" type="GKManagers.CMSManager.Configuration.PercussionConfig, CMSManager"  />
    <section name="DocumentProcessing" type="GKManagers.Configuration.DocumentProcessingSection, DocumentManager" />
    <section name="CMSProcessing" type="GKManagers.CMSDocumentProcessing.Configuration.CMSProcessingSection, CMSDocumentProcessing" />
  </configSections>

  <!-- Connection strings are loaded from a shared file. -->
  <connectionStrings configSource="sharedconfig\connectionStrings.config">
  </connectionStrings>

  <appSettings>
    <!-- XSL transformation pathes-->
    <add key="DrugInfoSummary"	value="${DRUGINFOSUMMARY_FILE_LOCATION}"/>
    <add key="Summary"    		value="${SUMMARY_FILE_LOCATION}"/>
    <add key="GlossaryTerm"     value="${GLOSSARYTERM_FILE_LOCATION}"/>
    <add key="Terminology"      value="${TERMINOLOGY_FILE_LOCATION}"/>

    <!-- Location for the summary-split data file. -->
    <add key="summary-split-file-location" value="${SUMMARY_SPLIT_FILE_LOCATION}" />

  </appSettings>

  <DocumentProcessing>
    <processingConfigurationFile value="${PROCESSING_CONFIGURATION_FILE}" />
  </DocumentProcessing>

  <CMSProcessing>
    <BaseFolders mobileSiteBase="//Sites/MobileCancerGov" desktopSiteBase="//Sites/CancerGov"></BaseFolders>
  </CMSProcessing>


  <PercussionConfig>
    <connectionInfo>
      <protocol value="http" />
      <host value="${PERCUSSION_SERVER}" />
      <port value="9992" />
      <username value="${PERCUSSION_USER}" />
      <password value="${PERCUSSION_PASSWORD}" />
      <community value="CancerGov_Configuration" />
      <siteRootPath value="//Sites/CancerGov"/>
    </connectionInfo>
    <previewRepublishEditionList value=""/>
    <liveRepublishEditionList value=""/>
  </PercussionConfig>
</configuration>