<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!-- XSL transformation paths-->
		<add key="DrugInfoSummary"      value="E:\Content\Gatekeeper\xsl\DrugInformationSummary.xsl"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="Summary"              value="E:\Content\Gatekeeper\xsl\summary.xsl"                 xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="GeneticsProfessional" value="E:\Content\Gatekeeper\xsl\GeneticsProfessional.xsl"    xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="GlossaryTerm"         value="E:\Content\Gatekeeper\xsl\GlossaryTerm.xsl"    xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Terminology"          value="E:\Content\Gatekeeper\xsl\Terminology.xsl"     xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- DTD Location  -->
    <add key="DTDLocation"          value="E:\Content\Gatekeeper\dtd\pdq.dtd"             xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Media Server Location -->
    <add key="ImageLocation"        value="http://cdr.cancer.gov/cgi-bin/cdr/GetCdrImage.py?id="  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ServerURL"            value="http://www.cancer.gov"                                xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Non-image media files.-->
    <add key="MediaLocation"        value="http://www.cancer.gov/PublishedContent/Media/CDR/media" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Items published via Percussion (Stylesheet, CSS, JS, etc.) -->
    <add key="PublishedContentBase" value="http://www.cancer.gov/PublishedContent"        xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Location for the summary-split data file. -->
    <add key="summary-split-file-location" value="E:\Content\GateKeeper\CDRPreviewWS\summary-splits-empty.json"
                                                                                    xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

  <PercussionConfig>
    <connectionInfo>
      <host value="localhost" xdt:Transform="SetAttributes" />
    </connectionInfo>

    <previewSettings                            xdt:Transform="Replace">
      <!-- Publish Preview Settings, this is the publishing context id-->
      <publishPreviewContextId value="304"/>

      <!-- ItemFilter value, publish_preview -->
      <itemFilter value="publish_preview" />

      <!-- The preview template name for pdqDrugInfoSummary -->
      <pdqDrugInfoSummaryTemplateName value="nvcgPgPDQDrugInfoSummary" />

      <!-- The preview template names for pdqDrugInfoSummary -->
      <pdqCancerSummaryTemplateName value="nvcgPgCancerInfoSummary" />

      <pdqImageTemplateName value="pdqPgMediaLink" />

      <!-- the file path of the audio file used media link -->
      <previewAudioFilePath value="E:\content\GateKeeper\CDRPreviewWS\bin\PreviewAudioMedia.xml" />

      <!-- Location where media preview html is stored -->
      <previewImageContentLocation value="E:\content\GateKeeper\CDRPreviewWS\PreviewMediaHtml" />

      <!-- The ASPX page which will produce only the skeleton or frame html -->
      <frameHtmlPage value="http://gatekeeper.cancer.gov/CDRPreviewWS/CGovHtml.aspx" />

    </previewSettings>

  </PercussionConfig>

</configuration>