<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="PercussionConfig" type="GKManagers.CMSManager.Configuration.PercussionConfig, CMSManager"  />
  </configSections>

  <appSettings>
    <!-- XSL transformation paths-->
    <add key="DrugInfoSummary"	value="${DRUGINFOSUMMARY_FILE_LOCATION}"/>
    <add key="Summary"    			value="${SUMMARY_FILE_LOCATION}"/>
    <add key="GeneticsProfessional" value="${GENETICSPROF_FILE_LOCATION}"/>
    <add key="GlossaryTerm"     value="${GLOSSARYTERM_FILE_LOCATION}"/>
    <add key="Terminology"      value="${TERMINOLOGY_FILE_LOCATION}"/>

    <!-- DTD Location  -->
    <add key="DTDLocation" value="${DTD_LOCATION}"/>

    <!-- Media Server Location -->
    <add key="ImageLocation" value="${IMAGE_LOCATION}"/>
    <add key="ServerURL" value="${SERVER_URL}"/>


    <!-- Non-image media files.-->
    <add key="MediaLocation" value="${MEDIA_LOCATION}"/>

    <!-- Items published via Percussion (Stylesheet, CSS, JS, etc.) -->
    <add key="PublishedContentBase" value="${PUBLISHED_CONTENT_BASE}"/>

    <!-- Location where the media items are stored in percussion-->
    <add key="MediaFolderPath" value="/Media"/>
    <!-- Location of the image html content rendered by percusion -->
    <add key="PreviewEnlargeImageContentLocation" value="PreviewMediaHtml"/>

    <!-- Location for the summary-split data file. -->
    <add key="summary-split-file-location" value="${EMPTY_SUMMARY_SPLIT_FILE_LOCATION}" />

    <add key="CDRImageRegular" value="571" />
    <add key="CDRImageEnlarge" value="750" />

	</appSettings>

  <!-- Connection strings are loaded from a shared file. -->
  <connectionStrings configSource="connectionStrings.config">
  </connectionStrings>


  <PercussionConfig>
    <connectionInfo>
      <protocol value="http" />
      <host value="${PERCUSSION_SERVER}" />
      <port value="9992" />
      <username value="${PERCUSSION_PREVIEW_USER}" />
      <password value="${PERCUSSION_PASSWORD}" />
      <community value="CDR_PublishPreview" />
      <siteRootPath value="//Sites/CDR_PublishPreview"/>
      <timeout value="900000" />
    </connectionInfo>
    <previewRepublishEditionList value="366"/>
    <liveRepublishEditionList value="364"/>
    <navonPublicTransitionName value="DirectToPublicWithPoD" />
    <!--  Set searchpath to  folderpath to restrict search
          / - will search from site level specified by siteRootPath
          blank or empty - will search across all sites.
          actual e.g /cancertopics/druginfo - will search for content items only inside /cancertopics/druginfo
    -->
    <searchPath value="/"></searchPath>

    <!-- Site_id, the site id of the site specified by siteRootPath-->
    <siteId value="455" />

    <previewSettings>
      <!-- Publish Preview Settings, this is the publishing context id-->
      <publishPreviewContextId value="304"/>

      <!-- ItemFilter value, publish_preview -->
      <itemFilter value="publish_preview" />

      <!-- The preview template name for pdqDrugInfoSummary -->
      <pdqDrugInfoSummaryTemplateName value="nvcgPgPDQDrugInfoSummary" />

      <!-- The preview template names for pdqDrugInfoSummary -->
      <pdqCancerSummaryTemplateName value="nvcgPgCancerInfoSummary" />

      <pdqImageTemplateName value="pdqPgMediaLink" />

      <!-- the file path of the audio file used media link -->
      <previewAudioFilePath value="${PREVIEW_AUDIO_FILE_PATH}" />

      <!-- Location where media preview html is stored -->
      <previewImageContentLocation value="${PREVIEW_IMAGE_CONTENT_LOCATION}" />

      <!-- The ASPX page which will produce only the skeleton or frame html -->
      <frameHtmlPage value="${FRAME_HTML_URL}" />

    </previewSettings>

  </PercussionConfig>

	<system.web>
    <compilation debug="false" defaultLanguage="c#" />
    <authentication mode="Windows" />
		<customErrors mode="Off"/>
		<httpRuntime executionTimeout="300000" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <add value="CDRPreviewtest.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>


  <NCILoggingProviders defaultProvider="NCIEventLogProvider">
    <providers>
      <add name="NCIEventLogProvider" type="NCI.Logging.Providers.EventLogProvider" logsource="GKCDRPreview"/>
    </providers>
  </NCILoggingProviders>

  <nci.logging lastResortLogFile="GKCDRPreview.txt" logAllLoggingErrors="true">
    <loggingSinks>
      <loggingSink name="EventLogSink" providerName="NCIEventLogProvider" errorLevels="All">
        <facilityMatchStrings>
          <facilityMatchString value="*"/>
        </facilityMatchStrings>
      </loggingSink>
    </loggingSinks>
  </nci.logging>

</configuration>
