<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=00b2d238ac09c399" />
    <section name="NCILoggingProviders" type="NCI.Logging.Providers.NCILoggingProviderConfiguration, NCILibrary.Core" allowDefinition="MachineToApplication"/>
    <section name="nci.logging" type="NCI.Logging.Configuration.NCILoggingSection,NCILibrary.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="PercussionConfig" type="GKManagers.CMSManager.Configuration.PercussionConfig, CMSManager"  />
    <section name="DocumentProcessing" type="GKManagers.Configuration.DocumentProcessingSection, DocumentManager" />
    <section name="CMSProcessing" type="GKManagers.CMSDocumentProcessing.Configuration.CMSProcessingSection, CMSDocumentProcessing" />
  </configSections>

  <appSettings>
    <!-- XSL transformation paths-->
    <add key="DrugInfoSummary"    	value="C:\git\wcms-gatekeeper\Core\ContentRendering\XSL\DrugInformationSummary.xsl"/>
    <add key="Summary"    	    		value="C:\git\wcms-gatekeeper\Core\ContentRendering\XSL\Summary.xsl"/>
    <add key="GeneticsProfessional" value="C:\GateKeeper\current\Core\ContentRendering\XSL\GeneticsProfessional.xsl"/>
    <add key="GlossaryTerm"         value="C:\git\wcms-gatekeeper\Core\ContentRendering\XSL\GlossaryTerm.xsl"/>
    <add key="Terminology"          value="C:\git\wcms-gatekeeper\Core\ContentRendering\XSL\Terminology.xsl"/>

    <!-- Thread pool settings for ProcessManager -->
    <add key="MaxWorkerThreads" value="50"/>
    <add key="MaxIOCompletionThreads" value="1000"/>

    <!-- DTD settings -->
    <add key="DTDLocation" value="C:\git\wcms-gatekeeper\App\Dtd\PDQ.dtd"/>
    <add key="DTDVersion" value="9403"/>

    <!-- Temporary path for media server location -->
    <add key="ImageStaging" value="${STAGING_IMAGE_FILE_LOCATION}"/>
    <add key="ImagePreview" value="${PREVIEW_IMAGE_FILE_LOCATION}"/>
    <add key="ImageLive" value="${LIVE_IMAGE_FILE_LOCATION}"/>

    <!-- Location where the media items are stored in percussion-->
    <add key="MediaFolderPath" value="/Media"/>

    <!-- Number of seconds to pause before polling the database for the next batch. -->
    <add key="PollingFrequency" value="5"/>

    <!-- Number of seconds to allow a stored procedure to run before timing out -->
    <add key="CommandTimeout" value="45"/>
    <add key="VeryLongProcessCommandTimeout" value="1200"/>

  	<!-- Settings for troubleshooting/extraordinary conditions -->
    <add key="suppressMultiThreading" value="N"/>

    <!-- Location for the summary-split data file. -->
    <add key="summary-split-file-location" value="${SUMMARY_SPLIT_FILE_LOCATION}" />

  </appSettings>

  <!-- Connection strings are loaded from a shared file. -->
  <connectionStrings configSource="sharedconfig\connectionStrings.config">
  </connectionStrings>

  <NCILoggingProviders >
    <providers>
      <add name="NCIEmailProvider" type="NCI.Logging.Providers.EmailProvider" emailaddressfrom="${EMAIL_SENDER_ADDRESS}" emailaddressesto="${LOGGING_EMAIL_ADDRESS}"/>
      <add name="BatchErrorEmailProvider" type="NCI.Logging.Providers.EmailProvider" emailaddressfrom="${EMAIL_SENDER_ADDRESS}" emailaddressesto="$(LOGGING_EMAIL_ADDRESS}" />
      <add name="NCIEventLogProvider" type="NCI.Logging.Providers.EventLogProvider" logsource="GateKeeper" />
    </providers>
  </NCILoggingProviders>

  <nci.logging>
    <loggingSinks>
      <loggingSink name="EmailSink" providerName="NCIEmailProvider" errorLevels="Critical">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:*"/>
        </facilityMatchStrings>
      </loggingSink>

      <loggingSink name="PromotionSink" providerName="BatchErrorEmailProvider" errorLevels="Info">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:DocumentManager:GKManagers.DocumentManager.PromototionCompleteWithErrors"/>
        </facilityMatchStrings>
      </loggingSink>

      <loggingSink name="EventLogSink" providerName="NCIEventLogProvider" errorLevels="All">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:*"/>
        </facilityMatchStrings>
      </loggingSink>
    </loggingSinks>
  </nci.logging>

  <DocumentProcessing>
    <processingConfigurationFile value="${PROCESSING_CONFIGURATION_FILE}" />
  </DocumentProcessing>

  <CMSProcessing>
    <BaseFolders mobileSiteBase="//Sites/MobileCancerGov" desktopSiteBase="//Sites/CancerGov"></BaseFolders>
  </CMSProcessing>

  <PercussionConfig>
    <connectionInfo>
      <protocol value="http" />
      <host value="${PERCUSSION_SERVER}" />
      <port value="9992" />
      <username value="${PERCUSSION_USER}" />
      <password value="${PERCUSSION_PASSWORD}" />
      <community value="CancerGov_Configuration" />
      <siteRootPath value="//Sites/CancerGov"/>
    </connectionInfo>
  </PercussionConfig>

  <runtime>
    <gcServer enabled="true" />
  </runtime>

</configuration>