<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- XSL transformation paths-->
    <add key="DrugInfoSummary"      value="E:\Content\Gatekeeper\xsl\DrugInformationSummary.xsl"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Summary"              value="E:\Content\Gatekeeper\xsl\summary.xsl"                 xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="GeneticsProfessional" value="E:\Content\Gatekeeper\xsl\GeneticsProfessional.xsl"    xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="GlossaryTerm"         value="E:\Content\Gatekeeper\xsl\GlossaryTerm.xsl"    xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Terminology"          value="E:\Content\Gatekeeper\xsl\Terminology.xsl"     xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- DTD Location  -->
    <add key="DTDLocation"          value="E:\Content\Gatekeeper\DTD\pdq.dtd"             xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Temporary path for media server location -->
    <add key="ImageStaging" value="E:\content\PercussionSites\CDESites\CancerGov\Preview\StaticContent\images\cdr\staging\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ImagePreview" value="E:\content\PercussionSites\CDESites\CancerGov\Preview\StaticContent\images\cdr\preview\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ImageLive"    value="E:\content\PercussionSites\CDESites\CancerGov\Live\StaticContent\images\cdr\Live\"       xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- Location for the summary-split data file. -->
    <add key="summary-split-file-location" value="E:\Content\PercussionSites\CDESites\CancerGov\Live\PublishedContent\Files\Configuration\gatekeeper\summary-splits.json" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  </appSettings>

  <NCILoggingProviders >
    <providers>
      <add name="NCIEmailProvider"        emailaddressesto="${PROD_LOGGING_EMAIL_ADDRESS}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <add name="BatchErrorEmailProvider" emailaddressesto="${PROD_LOGGING_EMAIL_ADDRESS}" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <add name="NCIEventLogProvider"     logsource="GKProcMgr"                            xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </providers>
  </NCILoggingProviders>

  <runtime xdt:Transform="Replace">
    <gcServer enabled="true" />
  </runtime>

  <DocumentProcessing xdt:Transform="Replace">
    <processingConfigurationFile value="E:\Content\Gatekeeper\ProcMgr\DocumentProcessors.xml" />
  </DocumentProcessing>

  <PercussionConfig>
    <connectionInfo>
      <host value="localhost" xdt:Transform="SetAttributes" />
    </connectionInfo>
  </PercussionConfig>

  <system.net>
    <mailSettings>
      <smtp from="${PROD_ADMIN_EMAIL_ADDRESS}" xdt:Transform="SetAttributes" />
    </mailSettings>
  </system.net>

</configuration>