<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- XSL transformation paths-->
    <add key="DrugInfoSummary"      value="E:\Content\Gatekeeper\xsl\DrugInformationSummary.xsl"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Summary"              value="E:\Content\Gatekeeper\xsl\summary.xsl"                 xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="GeneticsProfessional" value="E:\Content\Gatekeeper\xsl\GeneticsProfessional.xsl"    xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="GlossaryTerm"         value="E:\Content\Gatekeeper\xsl\GlossaryTerm.xsl"    xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="Terminology"          value="E:\Content\Gatekeeper\xsl\Terminology.xsl"     xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- DTD Location  -->
    <add key="DTDLocation"          value="E:\Content\Gatekeeper\dtd\pdq.dtd"             xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  </appSettings>

</configuration>