<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=00b2d238ac09c399" />
		<section name="NCILoggingProviders" type="NCI.Logging.Providers.NCILoggingProviderConfiguration, NCILibrary.Core" allowDefinition="MachineToApplication"/>
		<section name="nci.logging" type="NCI.Logging.Configuration.NCILoggingSection,NCILibrary.Core" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="PercussionConfig" type="GKManagers.CMSManager.Configuration.PercussionConfig, CMSManager"  />
		<section name="DocumentProcessing" type="GKManagers.Configuration.DocumentProcessingSection, DocumentManager" />
		<section name="CMSProcessing" type="GKManagers.CMSDocumentProcessing.Configuration.CMSProcessingSection, CMSDocumentProcessing" />
  </configSections>

  <!-- Connection strings are loaded from a shared file. -->
  <connectionStrings configSource="sharedconfig\connectionStrings.config">
  </connectionStrings>

<appSettings>
    <!-- XSL transformation pathes-->
    <add key="DrugInfoSummary"	value="${DRUGINFOSUMMARY_FILE_LOCATION}"/>
    <add key="Summary"    		value="${SUMMARY_FILE_LOCATION}"/>
    <add key="GlossaryTerm"     value="${GLOSSARYTERM_FILE_LOCATION}"/>
    <add key="Terminology"      value="${TERMINOLOGY_FILE_LOCATION}"/>

    <!-- Media Server Location -->
    <add key="ImageStaging" value="${STAGING_IMAGE_FILE_LOCATION}"/>
    <add key="ImagePreview" value="${PREVIEW_IMAGE_FILE_LOCATION}"/>
    <add key="ImageLive" value="${LIVE_IMAGE_FILE_LOCATION}"/>

    <!-- Location where the media items are stored in percussion-->
    <add key="MediaFolderPath" value="/Media"/>

    <!-- Thread pool settings for ProcessManager -->
    <add key="MaxWorkerThreads" value="3"/>
    <add key="MaxIOCompletionThreads" value="1000"/>

    <add key="DTDLocation" value="${DTD_LOCATION}"/>
    <add key="DTDVersion" value="9403"/>

    <!-- Number of seconds to allow a stored procedure to run before timing out -->
    <add key="CommandTimeout" value="45"/>
    <add key="VeryLongProcessCommandTimeout" value="1200"/>

</appSettings>

  <NCILoggingProviders >
    <providers>
      <add name="NCIEmailProvider" type="NCI.Logging.Providers.EmailProvider" emailaddressfrom="${EMAIL_SENDER_ADDRESS}" emailaddressesto="${LOGGING_EMAIL_ADDRESS}"/>
      <add name="BatchErrorEmailProvider" type="NCI.Logging.Providers.EmailProvider" emailaddressfrom="${EMAIL_SENDER_ADDRESS}" emailaddressesto="${LOGGING_EMAIL_ADDRESS}" />
      <add name="NCIEventLogProvider" type="NCI.Logging.Providers.EventLogProvider" logsource="GateKeeper" />
    </providers>
  </NCILoggingProviders>

  <nci.logging>
    <loggingSinks>
      <loggingSink name="EmailSink" providerName="NCIEmailProvider" errorLevels="Critical">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:*"/>
        </facilityMatchStrings>
      </loggingSink>

      <loggingSink name="PromotionSink" providerName="BatchErrorEmailProvider" errorLevels="Info">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:DocumentManager:GKManagers.DocumentManager.PromototionCompleteWithErrors"/>
        </facilityMatchStrings>
      </loggingSink>

      <loggingSink name="EventLogSink" providerName="NCIEventLogProvider" errorLevels="all">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:*"/>
        </facilityMatchStrings>
      </loggingSink>
    </loggingSinks>
  </nci.logging>

  <DocumentProcessing>
    <processingConfigurationFile value="${PROCESSING_CONFIGURATION_FILE}" />
  </DocumentProcessing>

  <CMSProcessing>
    <BaseFolders mobileSiteBase="//Sites/MobileCancerGov" desktopSiteBase="//Sites/CancerGov"></BaseFolders>
  </CMSProcessing>

  <!-- Unit tests should not be communicating with the Percussion server.
       What exists here is just enough information to allow a CMSController
       object to be instantiated. -->
  <PercussionConfig>
    <connectionInfo>
      <protocol value="http" />
      <host value="${PERCUSSION_SERVER}" />
      <port value="9992" />
      <username value="${PERCUSSION_USER}" />
      <password value="${PERCUSSION_PASSWORD}" />
      <community value="CancerGov_Configuration" />
      <siteRootPath value="//Sites/CancerGov"/>
    </connectionInfo>
    <previewRepublishEditionList value=""/>
    <liveRepublishEditionList value=""/>
  </PercussionConfig>

</configuration>