<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!-- DTD settings -->
    <add key="DTDLocation"  value="E:\Content\Gatekeeper\dtd\pdq.dtd" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

  <NCILoggingProviders>
    <providers>
      <add name="NCIEmailProvider"        emailaddressesto="${PROD_LOGGING_EMAIL_ADDRESS}"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      <add name="NCIEventLogProvider"     logsource="GKWebSvc"                              xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </providers>
  </NCILoggingProviders>>
  
</configuration>