<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="NCILoggingProviders" type="NCI.Logging.Providers.NCILoggingProviderConfiguration, NCILibrary.Core" allowDefinition="MachineToApplication"/>
    <section name="nci.logging" type="NCI.Logging.Configuration.NCILoggingSection,NCILibrary.Core" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <appSettings>
    <!-- OPTIONAL maximum value to override requested promotion target -->
    <!--<add key="ForcedMaximumPromotionLevel" value="GateKeeper"/>-->
    <!-- OPTIONAL web service availability.  Set to "Y" to disable, if absent, web service is available. -->
    <!--<add key="WebServiceDisabled" value="Y"/>-->

    <!-- DTD settings -->
    <add key="DTDLocation" value="C:\git\wcms-gatekeeper\App\Dtd\PDQ.dtd"/>
    <add key="DTDVersion" value="9403"/>
  </appSettings>

  <!-- Connection strings are loaded from a shared file. -->
  <connectionStrings configSource="connectionStrings.config">
  </connectionStrings>

  <NCILoggingProviders>
    <providers>
      <add name="NCIEmailProvider" type="NCI.Logging.Providers.EmailProvider" emailaddressfrom="${EMAIL_SENDER_ADDRESS}" emailaddressesto="${LOGGING_EMAIL_ADDRESS}"/>
      <add name="NCIEventLogProvider" type="NCI.Logging.Providers.EventLogProvider" logsource="GateKeeper"/>
    </providers>
  </NCILoggingProviders>

  <nci.logging lastResortLogFile="e:\content\Gatekeeper\GKWebServicelog.txt" logAllLoggingErrors="true">
    <loggingSinks>
      <loggingSink name="EmailSink" providerName="NCIEmailProvider" errorLevels="Critical">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:*"/>
        </facilityMatchStrings>
      </loggingSink>
      <loggingSink name="EventLogSink" providerName="NCIEventLogProvider" errorLevels="all">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:*"/>
        </facilityMatchStrings>
      </loggingSink>
    </loggingSinks>
  </nci.logging>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" />

    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application.
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <httpRuntime executionTimeout="600" maxRequestLength="20000"/>
  </system.web>

</configuration>
