<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=00b2d238ac09c399" />
  </configSections>
  <appSettings />

  <connectionStrings configSource="sharedconfig\connectionStrings.config">
  </connectionStrings>

</configuration>