<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
  	<add key="AdminEmailAddress"      value="${PROD_ADMIN_EMAIL_ADDRESS}"       xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ExportRequestFileName"  value="${COMMON_EXPORT_REQUEST_FILENAME}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- DTD settings -->
    <add key="DTDLocation"            value="${COMMON_DTD_LOCATION}"            xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <NCILoggingProviders>
    <providers>
      <add name="NCIEmailProvider"  emailaddressesto="${PROD_LOGGING_EMAIL_ADDRESS}"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
    </providers>
  </NCILoggingProviders>>

</configuration>