<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=00b2d238ac09c399"/>
    <section name="NCILoggingProviders" type="NCI.Logging.Providers.NCILoggingProviderConfiguration, NCILibrary.Core" allowDefinition="MachineToApplication"/>
    <section name="nci.logging" type="NCI.Logging.Configuration.NCILoggingSection,NCILibrary.Core" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <appSettings>
    <add key="AdminUserGroup" value="gkadmin"/>
    <add key="OperatorUserGroup" value="operator"/>
    <add key="HomePage" value="/Home.aspx"/>
    <add key="AdminEmailAddress" value="${DEV_ADMIN_EMAIL_ADDRESS}"/>
    
    <add key="ExportRequestFileName" value="c:\temp"/>
    <add key="AllowSchedulingOfOneDoc" value="1"/>
    <add key="AllowImport" value="1"/>

    <!-- DTD settings -->
    <add key="DTDLocation" value="C:\git\wcms-gatekeeper\App\Dtd\PDQ.dtd"/>
    <add key="DTDVersion" value="9403"/>
    <add key="EventLogNames" value="System, Application, GKAdmin, GKProcMgr, GKWebSvc, GKCDRPreview" />

    <!-- Number of seconds to allow a stored procedure to run before timing out -->
    <add key="CommandTimeout" value="45"/>
  </appSettings>

  <!-- Connection strings are loaded from a shared file. -->
  <connectionStrings configSource="connectionStrings.config">
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="PickupDirectoryFromIis" from="${EMAIL_SENDER_ADDRESS}"/>
    </mailSettings>
  </system.net>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <clear/>
        <add name="CustomizedRoleProvider" type="GateKeeper.Security.SqlRoleProvider" connectionStringName="GK_ConnectionString"/>
      </providers>
    </roleManager>
    <membership defaultProvider="CustomizedSqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear/>
        <add name="CustomizedSqlProvider" type="GateKeeper.Security.SqlMembershipProvider" connectionStringName="GK_ConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" minRequiredPasswordLength="1"/>
      </providers>
    </membership>
    <httpRuntime executionTimeout="1200" maxRequestLength="2097151"/>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
    </httpHandlers>
    <httpModules>
    </httpModules>
  </system.web>

  <NCILoggingProviders>
    <providers>
      <add name="NCIEmailProvider" type="NCI.Logging.Providers.EmailProvider" emailaddressfrom="${EMAIL_SENDER_ADDRESS}" emailaddressesto="${DEV_LOGGING_EMAIL_ADDRESS}"/>
      <add name="NCIEventLogProvider" type="NCI.Logging.Providers.EventLogProvider" logsource="GKAdmin"/>
    </providers>
  </NCILoggingProviders>
  <nci.logging lastResortLogFile="GateKeeperAdminLog.txt" logAllLoggingErrors="true">
    <loggingSinks>
      <loggingSink name="EmailSink" providerName="NCIEmailProvider" errorLevels="Critical">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:*"/>
        </facilityMatchStrings>
      </loggingSink>
      <loggingSink name="EventLogSink" providerName="NCIEventLogProvider" errorLevels="all">
        <facilityMatchStrings>
          <facilityMatchString value="GateKeeper:*"/>
        </facilityMatchStrings>
      </loggingSink>
    </loggingSinks>
  </nci.logging>
  <system.webServer>

		<validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument enabled="true">
      <files>
        <add value="home.aspx" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>
