<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- DTD settings -->
    <add key="DTDLocation" value="C:\git\wcms-gatekeeper\App\Dtd\PDQ.dtd"/>
    <add key="DTDVersion" value="1.68"/>
  </appSettings>

  <connectionStrings configSource="connectionStrings.config">
  </connectionStrings>

</configuration>