<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- DTD settings -->
    <add key="DTDLocation" value="${DEV_DTD_LOCATION}"/>
    <add key="DTDVersion" value="1.68"/>
  </appSettings>

  <connectionStrings configSource="sharedconfig\connectionStrings.config">
  </connectionStrings>

</configuration>