<connectionStrings>
  <add name="GK_ConnectionString" connectionString="${GATEKEEPER_DATABASE_STRING}"         providerName="System.Data.SqlClient" />
  <add name="CancerGov"           connectionString="${CANCER_GOV_DATABASE_STRING}"         providerName="System.Data.SqlClient" />
  <add name="CancerGovStaging"    connectionString="${CANCER_GOV_STAGING_DATABASE_STRING}" providerName="System.Data.SqlClient" />
  <add name="GateKeeper"          connectionString="${GATEKEEPER_DATABASE_STRING}"         providerName="System.Data.SqlClient" />
  <add name="Live"                connectionString="${CDR_LIVE_DATABASE_STRING}"           providerName="System.Data.SqlClient" />
  <add name="Preview"             connectionString="${CDR_PREVIEW_DATABASE_STRING}"        providerName="System.Data.SqlClient" />
  <add name="Staging"             connectionString="${CDR_STAGE_DATABASE_STRING}"          providerName="System.Data.SqlClient" />
</connectionStrings>
